body {
    background-color: #131112;
}

/* Navbar */
.nav-color {
    color: #1d1f45;
    
}

.head-logo{
    width: clamp(4rem, 5vw, 6rem);
    height: clamp(3rem, 4vw, 5rem);
}

@media (max-width: 768px) {
    .nav-color {
        color: white;
    }

    .nav-active-color {
        background-color: #CCA713;
    }


}

.nav-color:hover {
    color: #F5C45E;
}

.active-color{
    color: #CCA713;
}

.nav-background {
    background-color: white;
}

.nav-active-color-2 {
    color: #CCA713;
}

.nav-icon {
    background-color: transparent;
    border: none;
}

.main-img {
    opacity: 100%;
}

.offcanvas.half-screen {
    width: 60% !important;
    max-width: none;
    background-color: #222831;
    opacity: 95%;
}

/* Animation */
.fade-only {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.fade-only.visible {
    opacity: 1;
}



/* Contact Button */
.contact-button {
    cursor: pointer;
    width: clamp(4.5rem, 4.5vw, 4.5rem);
    height: clamp(5rem, 5vw, 8rem);
}

.extra-button-container {
    position: fixed;
    bottom: clamp(5.5rem, 6vw, 6rem);
    right: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.2s ease;
    pointer-events: none;
    z-index: 1050;
}

.extra-button-container.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    z-index: 1050;
}

.contact-op-btn{
    border-radius: 30px;
}

.op-btn1{
    background-color: #062F6B;
    border: #062F6B;
    width: clamp(6rem,10vw,10rem);
    padding: 5px;
    height: clamp(3rem,3.4vw,3.4vw);
}

.op-btn2{
    background-color: #249028;
    border: #249028;
    width: clamp(6rem,10vw, 10rem);
    height: clamp(3rem,3.4vw,3.4vw);
    padding: 5px;
}



/* Contact Header */
.contact-header {
    background-color: #ffcd05;
}

.main-title {
    color: black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: clamp(2rem, 5vw, 5rem);
}

.titles {
    color: #FEBA17;
}


/* From */
.form-label{
    color: black;
    opacity: 80%;
}

.booking-form{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.submit-button{
    background-color: #ffcd05;
    color: black;
    border: none;
}


/* Footer */
.footer-bg {
    background-color: #233143;
}

.footer-links {
    color: #F2EED7;
    opacity: 20%;
}

.footer-links:hover {
    color: #FEBA17;
    opacity: 100%;
    cursor: pointer;
}

.footer-social:hover {
    cursor: pointer;
}

.footer-img {
    width: 100%;
    max-width: 100rem;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    min-height: 1.7rem;
}

.footer-certification {
    color: #eaeaea;
    font-size: 0.875rem;
}